<div class="container mx-auto p-6 my-8 max-w-xl rounded bg-gray-100 dark:bg-gray-800 h-auto">
  <section class="mb-8 [&_header]:mb-8">
    <header>
      <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100">Tarjetas de Crédito</h1>
      <p class="text-gray-600 dark:text-gray-300">Añade una nueva tarjeta de crédito</p>
    </header>
    <article>
      <form class="space-y-4">
        <div class="space-y-2">
          <label for="cardName" class="text-gray-700 dark:text-gray-200">Nombre de la Tarjeta</label>
          <input
            id="cardName"
            type="text"
            placeholder="Tarjeta BAC Walmart"
            required
            class="w-full p-2 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-100 rounded"
          />
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="cutOffDate" class="text-gray-700 dark:text-gray-200">Fecha de Corte</label>
            <select required id="cutOffDate" class="w-full p-2 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-100 rounded">
              <option value="" disabled selected>Seleccionar fecha</option>
              @for (day of days; track $index) {
                <option [value]="day">{{ day }}</option>
              }
            </select>
          </div>
          <div class="space-y-2">
            <label for="paymentDueDate" class="text-gray-700 dark:text-gray-200">Fecha de Pago</label>
            <select required id="paymentDueDate" class="w-full p-2 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-100 rounded">
              <option value="" disabled selected>Seleccionar fecha</option>
              @for (day of days; track $index) {
                <option [value]="day">{{ day }}</option>
              }
            </select>
          </div>
        </div>
        <app-submit-bttn [text]="'Agregar tarjeta'" />
      </form>
    </article>
  </section>

  <div class="gap-4">
    @for (card of creditCards(); track card.credit_card_id) {
      <div class="bg-gradient-to-br dark:from-gray-800 from-gray-100 dark:to-gray-700 to-gray-200 text-teal-500 shadow-lg rounded p-4 mb-4">
        <header class="cursor-pointer flex flex-row items-center justify-between" (click)="toggleCardExpansion(card.credit_card_id)">
          <h3 class="text-xl font-bold">{{ card.name }}</h3>
          @if (expandedCard === card.credit_card_id) {
            <span class="text-gray-500">▲</span>
          } @else {
            <span class="text-gray-500">▼</span>
          }
        </header>
        <article>
          <div class="space-y-2 dark:text-gray-100 text-gray-800">
            <p>Fecha de Corte: {{ card.cut_off_date }}</p>
            <p>Fecha de Pago: {{ card.payment_due_date }}</p>
          </div>
        </article>
        @if (expandedCard === card.credit_card_id) {
          <footer class="block mt-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead>
                    <tr>
                      <th class="w-[100px]">Monto</th>
                      <th>Descripción</th>
                      <th>Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (purchase of purchases(); track purchase.exit_id) {
                      <tr>
                        <td class="font-medium">{{ purchase.amount | currency }}</td>
                        <td>{{ purchase.description }}</td>
                        <td>{{ purchase.date | date:"d/MM/y" }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div class="bg-gray-100 dark:bg-gray-600 p-4 rounded-lg">
                <h3 class="text-lg font-semibold mb-2 text-gray-800 dark:text-gray-100">Resumen</h3>
                <p class="text-2xl font-bold text-teal-600 dark:text-teal-400">{{ total() | currency }}</p>
                <p class="text-sm text-gray-600 dark:text-gray-300 mt-2">
                  Fecha de pago: {{ card.payment_due_date }}/{{ currentMonth }}/{{ currentYear }}
                </p>
              </div>
            </div>
          </footer>
        }
      </div>
    }
  </div>
</div>
