---
import AlertMessage from '@components/AlertMessage.astro'
---

<form
	id='reminder-form'
	class='mx-auto mt-6 max-w-lg space-y-4 rounded-lg bg-gray-200 p-6 text-gray-700 shadow-md dark:bg-gray-900 dark:text-gray-200'
>
	<h1 class='mb-4 text-center text-xl font-bold'>Agregar nuevo Recordatorio</h1>
	<div>
		<label for='reminder-title' class='block font-medium'>Título del recordatorio</label>
		<input
			type='text'
			id='reminder-title'
			placeholder='Título del recordatorio'
			required
			class='mt-1 w-full rounded-md border border-gray-50 bg-gray-100 p-2 text-gray-600 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-300 dark:border-gray-500 dark:bg-gray-600 dark:text-gray-100 dark:focus:ring-gray-500'
		/>
	</div>
	<div>
		<label for='reminder-description' class='block font-medium'>Descripción</label>
		<textarea
			id='reminder-description'
			placeholder='Descripción'
			rows='4'
			class='mt-1 w-full resize-none rounded-md border border-gray-50 bg-gray-100 p-2 text-gray-600 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-300 dark:border-gray-500 dark:bg-gray-600 dark:text-gray-100 dark:focus:ring-gray-500'
		></textarea>
	</div>
	<div>
		<label for='reminder-date' class='block font-medium'>Fecha y hora</label>
		<input
			type='datetime-local'
			id='reminder-date'
			required
			class='mt-1 w-full rounded-md border border-gray-50 bg-gray-100 p-2 text-gray-600 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-300 dark:border-gray-500 dark:bg-gray-600 dark:text-gray-100 dark:focus:ring-gray-500'
		/>
	</div>
	<button
		type='submit'
		class='mb-4 w-full rounded-md bg-teal-500 p-2 font-semibold text-white hover:bg-teal-600'
		>Agregar Recordatorio</button
	>
	<AlertMessage
		alertId='alert-success'
		alertMessage='Recordatorio registrado 😁'
		typeAlert='success'
	/>
	<AlertMessage
		alertId='alert-error'
		alertMessage='Error al registrar el recordatorio 😔'
		typeAlert='warning'
	/>
</form>
<!-- Contenedor principal de la lista de recordatorios -->
<div id='reminders-list' class='mx-auto mt-6 max-w-lg space-y-4'></div>

<script>
	import { $ } from '@lib/dom-selector'
	import { handleFormSubmit, init } from '@utils/reminders-form'

	document.addEventListener('astro:page-load', async () => {
		const $reminderForm = $('#reminder-form') as HTMLFormElement
		const $alertMessage = $('#alert-success') as HTMLDivElement
		const $alertWarning = $('#alert-error') as HTMLDivElement
		const $remindersList = $('#reminders-list') as HTMLDivElement

		$reminderForm?.addEventListener('submit', (e) =>
			handleFormSubmit(e, $reminderForm, $alertMessage, $alertWarning, $remindersList)
		)
		init($remindersList)
	})
</script>
