---
import { Picture } from 'astro:assets';
import FifthI from '@images/5.webp'
---

<section id="about-us" class="flex md:flex-row flex-col gap-6 p-6 w-full shadow-xl text-lg">
  <article class="flex flex-1 flex-col gap-6 md:w-2/3">
    <h1 class="text-4xl text-cyan-600">¡Bienvenido a Money Minder!</h1>
    <h3 class="text-2xl">¡Simplifica tu vida financiera!</h3>
    <p>Queremos cambiar la forma en que el mundo maneja su dinero. ¿Cuántas veces te has preguntado a dónde se fue tu salario?, ¿O si estás haciendo las mejores elecciones financieras? Nosotros también lo hemos hecho, y es por eso que creamos Money Minder.</p>
    <Picture src={FifthI} alt="Icons about saving money and showing stats" />
    <h3 class="font-bold text-2xl text-cyan-600">Nuestra historia</h3>
    <p>Creemos que la gestión financiera no debería ser una tarea complicada, sino una herramienta que empodere a las personas para tomar el control de sus finanzas y alcanzar sus metas. Nuestra historia comenzó con un equipo apasionado por simplificar la forma en que las personas manejan su dinero.</p>
    <h3 class="font-bold text-xl text-cyan-600">Valores que nos guian</h3>
    <p>En Money Minder, nos regimos por valores que definen nuestra cultura y cómo interactuamos con nuestros usuarios:</p>
    <div>
      <p><span class="text-cyan-600">- Transparencia:</span> Creemos en la apertura y honestidad en todas nuestras interacciones.</p>
      <p><span class="text-cyan-600">- Compromiso:</span> Estamos comprometidos a brindar la mejor experiencia posible a nuestros usuarios.</p>
      <p><span class="text-cyan-600">- Innovación:</span> Buscamos constantemente formas de mejorar y simplificar la gestión financiera.</p>
      <p><span class="text-cyan-600">- Sostenibilidad:</span> No solo te ayudaremos a ahorrar y gestionar gastos, sino que también se podran fomentar decisiones financieras que apoyan prácticas sostenibles.</p>
    </div>
    <p>Somos más que una aplicación de seguimiento de gastos. Somos tu socio financiero personal, tu guía para un futuro financiero más seguro.</p>
  </article>
  <article class="md:w-1/3 flex flex-col gap-4 text-lg">
    <div>
      <h2 class="font-bold text-cyan-600">Misión</h2>
      <p>Facilitar la gestión financiera personal, fomentar hábitos financieros saludables y ayudar a nuestros usuarios a alcanzar sus objetivos económicos.</p>
    </div>
    <div>
      <h2 class="font-bold text-cyan-600">Visión</h2>
      <p>Ser la plataforma líder que transforma la relación de las personas con su dinero, brindando libertad y confianza financiera.</p>
    </div>
    <a href="/signup" class="bg-cyan-500 p-4 rounded hover:bg-cyan-500/90 hover:animate-tilt text-center">¡Regístrate Ahora!</a>
  </article>
</section>
