---
interface Props {
	alertId?: string
	alertMessage: string
	typeAlert: 'success' | 'warning'
}

let { alertId, alertMessage, typeAlert } = Astro.props

if (!alertId) {
	alertId = 'alert'
}
---

{
	typeAlert === 'warning' && (
		<div
			id={alertId}
			class='my-6 hidden animate-blurred-fade-in items-center rounded border-t-4 border-yellow-300 bg-yellow-50 p-4 text-yellow-800 dark:border-yellow-800 dark:bg-gray-800 dark:text-yellow-300'
			role='alert'
		>
			<svg class='size-4 flex-shrink-0' aria-hidden='true' fill='currentColor' viewBox='0 0 20 20'>
				<path d='M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z' />
			</svg>
			<p class='ms-3 text-sm font-medium'>{alertMessage}</p>
		</div>
	)
}

{
	typeAlert === 'success' && (
		<div
			id={alertId}
			class='mb-4 hidden animate-blurred-fade-in items-center border-t-4 border-green-300 bg-green-50 p-4 text-green-800 dark:border-green-800 dark:bg-gray-800 dark:text-green-400'
			role='alert'
		>
			<svg
				class='h-4 w-4 flex-shrink-0'
				aria-hidden='true'
				fill='currentColor'
				viewBox='0 0 20 20'
			>
				<path d='M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z' />
			</svg>
			<p class='ms-3 text-sm font-medium'>{alertMessage}</p>
		</div>
	)
}
