---
import ThemeToggle from '@components/ThemeToggle.astro'
import Piggy from 'public/Piggy.astro'
const year: number = new Date().getFullYear()
---

<footer class='bottom-0 mt-5 rounded-lg bg-white shadow dark:bg-gray-900'>
  <div class='mx-auto w-full max-w-screen-xl p-4 md:py-8'>
    <div class='sm:flex sm:items-center sm:justify-between'>
      <a href='/' class='mb-4 flex items-center space-x-3 sm:mb-0 rtl:space-x-reverse'>
        <Piggy />
        <span
          class='self-center whitespace-nowrap text-2xl font-semibold text-black dark:text-white'
        >Money Minder</span
        >
      </a>
      <ul
        class='mb-6 flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mb-0'
      >
        <li>
          <a href='/#services' class='me-4 hover:underline md:me-6'>Servicios</a>
        </li>
        <li>
          <a href='/#about-us' class='me-4 hover:underline md:me-6'>Sobre Nosotros</a>
        </li>
        <li>
          <a href='/#info' class='me-4 hover:underline md:me-6'>Términos y Condiciones</a>
        </li>
      </ul>
    </div>
    <hr class='my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8' />
    <div class='block text-sm text-gray-500 dark:text-gray-400 sm:text-center'>
      <ThemeToggle />
    </div>
    <span class='block text-sm text-gray-500 dark:text-gray-400 sm:text-center'
    >© {year}
      <a href='https://flowbite.com/' class='hover:underline'>Money Minder</a>. Todos los derechos
      reservados.</span
    >
    <span class='block text-sm text-gray-500 dark:text-gray-400 sm:text-center'>
      Hecho por <a href='https://github.com/Roosendo' class='hover:underline' target='_blank'
      >Rosendo García</a
      >
    </span>
  </div>
</footer>
