---
import FirstImg from '@images/1.webp'
import SecondImg from '@images/2.webp'
import ThirdImg from '@images/3.webp'
import FourthImg from '@images/4.webp'
import { Picture } from 'astro:assets'
---

<section class='flex w-full flex-col p-6 text-black shadow-xl dark:text-white md:flex-row'>
	<div class='m-auto grid w-2/3 grid-cols-2 gap-6 p-4 md:w-1/3'>
		<Picture src={FirstImg} alt='It is about a graphic' class='size-auto' />
		<Picture src={SecondImg} alt='It is about a wallet' class='size-auto' />
		<Picture src={ThirdImg} alt='It is about saving money' class='size-auto' />
		<Picture src={FourthImg} alt='It is about a clock' class='size-auto' />
	</div>
	<div class='m-auto flex flex-1 flex-col gap-6 p-6'>
		<article>
			<h2 class='text-4xl text-cyan-500'>¡Simplifica Tu Vida Financiera!</h2>
			<p class='text-lg'>
				Sostenemos la convicción de que gestionar tus finanzas no solo es viable, ¡sino también
				emocionante! Queremos ser tu compañero de confianza mientras avanzas hacia una salud
				financiera mejor y logras ahorros significativos.
			</p>
		</article>
		<article>
			<h2 class='text-4xl text-cyan-500'>
				Únete a Nosotros en el Camino hacia la Libertad Financiera
			</h2>
			<p class='text-lg'>
				¡Empecemos juntos este emocionante viaje hacia el control financiero y el ahorro! Regístrate
				gratis y descubre el poder de Money Minder.
			</p>
		</article>
		<a
			href='/#services'
			class='w-auto rounded bg-cyan-500 p-2 text-center text-lg hover:animate-tilt hover:bg-cyan-500/90 md:w-1/3'
			>Conoce más...</a
		>
	</div>
</section>
