<main class="w-[80dvw] h-[80dvh] dark:bg-black/70 m-auto my-10 p-5 flex md:flex-row flex-col gap-3 rounded">
	<section class="flex-1 m-auto">
		<h1 class="text-5xl">¡Bienvenido a Money Minder!</h1>
		<p class="text-4xl">Dónde puedes monitoreas tus finanzas, de una forma rápida y segura.</p>
	</section>
	<section class="flex-1 m-auto">
		<div class="flex flex-col gap-6 text-xl">
			<button class="bg-blue-600 p-4 rounded hover:bg-blue-600/90">¡Regístrate!</button>
			<button class="bg-blue-600 p-4 rounded hover:bg-blue-600/90">¿Más información?</button>
		</div>
	</section>
</main>
