<main
	class='m-auto my-10 flex h-auto w-[90dvw] flex-col gap-3 rounded bg-gray-200 p-5 dark:bg-black/70 md:h-[80dvh] md:w-[80dvw] md:flex-row'
>
	<section class='m-auto flex-1 text-black dark:text-white'>
		<h1 class='text-5xl'>¡Bienvenido a Money Minder!</h1>
		<p class='text-4xl'>Dónde puedes monitorear tus finanzas, de una forma rápida y segura.</p>
	</section>
	<section class='m-auto flex-1'>
		<div class='flex flex-col gap-6 text-xl'>
			<a
				href='/login'
				class='rounded bg-cyan-500 p-4 text-center hover:animate-tilt hover:bg-cyan-500/90'
				>¡Inicia sesión!</a
			>
			<button class='rounded bg-cyan-500 p-4 hover:animate-tilt hover:bg-cyan-500/90'
				>¿Más información?</button
			>
		</div>
	</section>
</main>
