<main class="w-[80dvw] md:h-[80dvh] h-auto dark:bg-black/70 bg-gray-200 m-auto my-10 p-5 flex md:flex-row flex-col gap-3 rounded">
	<section class="flex-1 m-auto">
		<h1 class="text-5xl">¡Bienvenido a Money Minder!</h1>
		<p class="text-4xl">Dónde puedes monitoreas tus finanzas, de una forma rápida y segura.</p>
	</section>
	<section class="flex-1 m-auto">
		<div class="flex flex-col gap-6 text-xl">
			<button class="bg-cyan-500 p-4 rounded hover:bg-cyan-500/90 hover:animate-tilt">¡Regístrate!</button>
			<button class="bg-cyan-500 p-4 rounded hover:bg-cyan-500/90 hover:animate-tilt">¿Más información?</button>
		</div>
	</section>
</main>
