---
import Piggy from "public/Piggy.astro";
---

<section id="services" class="flex md:flex-row flex-col gap-6 p-6 w-full shadow-xl text-black dark:text-white">
  <div class="flex flex-col m-auto p-6 md:w-1/3 gap-6">
    <h2 class="text-2xl text-center">Empieza a gozar de nuestros servicios.</h2>
    <Piggy class="md:size-80 size-44 m-auto" />
    <p>Nos comprometemos a ofrecerte una experiencia financiera completa y centrada en tus necesidades. ¡Comienza hoy mismo y da el primer paso hacia una mejor salud financiera!</p>
    <a href="/signup" id="button-register" class="text-white text-lg bg-cyan-500 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg hover:animate-tilt px-4 py-2 text-center dark:bg-cyan-500 dark:hover:bg-cyan-600 dark:focus:ring-blue-800">
      ¡Registrate Ahora!
    </a>
  </div>
  <article class="flex flex-1 flex-col gap-6 md:w-2/3">
    <h1 class="text-4xl dont-bold">Nuestros Servicios</h1>
    <p>Estamos aquí para hacer que el manejo de tus finanzas sea más sencillo, efectivo y, lo más importante, ¡para ayudarte a alcanzar tus metas financieras! Descubre lo que nuestra aplicación tiene para ofrecer:</p>
    <div>
      <h3>1. Registro de Ingresos y Gastos:</h3>
      <p>Registra fácilmente tus ingresos y gastos mensuales de manera detallada. Categorizalos para obtener una visión clara de tus hábitos de gasto.</p>
    </div>
    <div>
      <h3>2. Análisis Financiero Personalizado:</h3>
      <p>Comparativas mensuales para seguir tu progreso y tomar decisiones informadas.</p>
    </div>
    <div>
      <h3>3. Consejos Financieros Personalizados:</h3>
      <p>Recibe consejos automáticos basados en tus patrones de gasto y metas de ahorro.</p>
    </div>
    <div>
      <h3>4. Seguridad y Privacidad Garantizadas:</h3>
      <p>Implementamos capas de seguridad robustas para proteger tu información financiera. Tu privacidad es nuestra prioridad, con prácticas estrictas de gestión de datos.</p>
    </div>
    <div>
      <h3>5. Historial y Reportes Detallados:</h3>
      <p>Accede a un historial detallado de todos tus movimientos anteriores.</p>
    </div>
    <div>
      <h3>6. Soporte Amigable y Accesible:</h3>
      <p>Nuestro equipo de soporte está aquí para ayudarte en cada paso del camino.</p>
    </div>
  </article>
</section>

<style>
  h3 {
    @apply text-2xl font-bold text-cyan-600;
  }

  p {
    @apply text-lg text-wrap;
  }
</style>

<script>
  document.getElementById("button-register")?.addEventListener("click", () => {
    Astro.redirect("/signup");
  });
</script>
