<section
	id='terms-conds'
	class='m-auto my-10 flex h-auto w-[90dvw] flex-col gap-3 rounded bg-gray-200 p-5 text-lg text-black dark:bg-black/70 dark:text-white md:w-[80dvw] md:flex-row'
>
	<article class='flex flex-col gap-4'>
		<h3 class='text-center text-4xl font-bold text-cyan-600'>
			Términos y Condiciones en Money Minder
		</h3>
		<p class='text-xl'>
			Bienvenido a Money Minder, tu compañero en la gestión financiera personal. Al acceder y
			utilizar nuestros servicios, aceptas los siguientes términos y condiciones que rigen la
			relación entre tú y Money Minder. Te instamos a leer detenidamente estos términos, ya que
			establecen las normas y responsabilidades fundamentales que rigen tu experiencia con nuestra
			plataforma.
		</p>
		<p>
			<span>1. Uso Responsable:</span> Te comprometes a utilizar Money Minder de manera responsable y
			conforme a todas las leyes y regulaciones aplicables. Nos reservamos el derecho de suspender o
			cerrar tu cuenta en caso de violación de estos términos o de comportamientos que consideremos inapropiados.
		</p>
		<p>
			<span>2. Privacidad y Seguridad:</span> Valoramos tu privacidad y seguridad. Nuestra Política de
			Privacidad detalla cómo recopilamos, utilizamos y protegemos tu información personal. Al utilizar
			Money Minder, aceptas nuestras prácticas de privacidad y seguridad.
		</p>
		<p>
			<span>3. Responsabilidades del Usuario:</span> Eres responsable de la veracidad y exactitud de
			la información proporcionada. Mantén la confidencialidad de tus credenciales de inicio de sesión
			y notifícanos de inmediato sobre cualquier actividad no autorizada en tu cuenta.
		</p>
		<p>
			<span>4. Actualizaciones y Cambios:</span> Money Minder se reserva el derecho de realizar cambios
			en la plataforma, incluyendo características, términos y tarifas. Te notificaremos sobre cambios
			significativos y tu uso continuado del servicio constituirá la aceptación de dichos cambios.
		</p>
		<p>
			<span>5. Propiedad Intelectual:</span> Todo el contenido y la propiedad intelectual en Money Minder
			son propiedad exclusiva de la empresa. No tienes permiso para utilizar, copiar o reproducir dicho
			contenido sin nuestro consentimiento.
		</p>
		<p>
			<span>6. Limitación de Responsabilidad:</span> Money Minder proporciona la plataforma "tal cual".
			No garantizamos la exactitud, fiabilidad o disponibilidad continua de los servicios. No nos hacemos
			responsables de pérdidas o daños directos, indirectos, incidentales, especiales o consecuentes.
		</p>
		<p>
			<span>7. Legislación Aplicable:</span> Estos términos se rigen por las leyes del lugar de incorporación
			de Money Minder. Cualquier disputa se resolverá a través de medios legales apropiados, como la
			mediación o el arbitraje. Te alentamos a que revises estos términos regularmente, ya que pueden
			cambiar con el tiempo. Si no estás de acuerdo con alguno de los términos, te instamos a dejar de
			utilizar nuestros servicios.
		</p>
	</article>
</section>

<style>
	span {
		@apply font-bold text-cyan-600;
	}
</style>
