---
import { Image } from 'astro:assets'
import Fifth from '@images/5.webp'
---

<section class="flex flex-col mx-auto items-center w-[80dvw] h-[80dvh] justify-center rounded-3xl px-4 my-6">
  <Image 
    src={Fifth}
    alt='Main banner from Money Minder'
    class='absolute w-[80dvw] h-[80dvh] md:object-fit object-cover rounded-3xl opacity-30 dark:opacity-20' />
    <div class="flex flex-col gap-3">
      <h1 class="text-center text-4xl font-bold mix-blend-difference md:text-8xl">Bienvenido a Money Minder</h1>
      <p class="text-center text-base fonrt-medium mix-blend-difference md:text-xl md:w-1/2 w-2/3 m-auto">Explora las opciones disponibles para personalizar tu experiencia y aprovechar al máximo nuestros servicios.</p>
    </div>
</section>
