---
import { Image } from 'astro:assets'
import Fifth from '@images/5.webp'
import Quote from '@components/Quote.tsx'
import FinancialSummary from '@dashboard/FinancialSummary.tsx'
import RecentTransactions from '@dashboard/RecentTransactions.tsx'
import CashFlow from '@dashboard/CashFlow.tsx'
import MainCategories from '@dashboard/MainCategories.tsx'
import Goals from '@dashboard/Goals.tsx'
import Reminders from '@dashboard/Reminders.tsx'
---

<section class="flex flex-col mx-auto items-center w-[80dvw] h-[80dvh] justify-center rounded-3xl px-4 my-6">
  <Image 
    src={Fifth}
    alt='Main banner from Money Minder'
    class='absolute w-[80dvw] h-[80dvh] md:object-fit object-cover rounded-3xl opacity-30 dark:opacity-20' />
    <div class="flex flex-col gap-3">
      <h1 class="text-center text-4xl font-bold mix-blend-difference md:text-8xl">Bienvenido a Money Minder</h1>
      <p class="text-center text-base fonrt-medium mix-blend-difference md:text-xl md:w-1/2 w-2/3 m-auto">Explora las opciones disponibles para personalizar tu experiencia y aprovechar al máximo nuestros servicios.</p>
    </div>
</section>

<div class="container mx-auto p-4 text-black dark:text-white">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    
    <!-- Resumen Financiero Rápido -->
    <FinancialSummary client:load />
    
    <!-- Transacciones Recientes -->
    <RecentTransactions client:load />
    
    <!-- Gráfico de Flujo de Efectivo -->
    <CashFlow client:load />
    
    <!-- Categorías Principales -->
    <MainCategories client:load />
    
    <!-- Progreso hacia Objetivos -->
    <Goals client:load />
    
    <!-- Alertas y Notificaciones -->
    <Reminders client:load />

    <Quote client:load />

  </div>
</div>
