---
import ButtonLogin from '@components/ButtonLogin.astro'
---
<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-xl flex items-center space-x-4">
  <div>
    <div class="text-xl font-medium text-black">No has iniciado sesión</div>
    <p class="text-gray-500">Debes iniciar sesión para ver el contenido de esta página.</p>
  </div>
</div>
<div class="flex items-center justify-center mt-4">
  <ButtonLogin />
</div>
