---
import { getSession } from 'auth-astro/server'
import LoggedUser from '@login/LoggedUser.astro'
import NotLoggedUser from '@login/NotLoggedUser.astro'

const session = await getSession(Astro.request)
---

<section class="max-w-96 mx-auto my-12">
    {session !== null ? (
      <LoggedUser name={session.user?.name} email={session.user?.email} imageUrl={session.user?.image} />
    ) : (
      <NotLoggedUser />
    )}
</section>

<script>
  import { $ } from '@lib/dom-selector'
  const { signIn, signOut } = await import('auth-astro/client')

  const $loginG = $('#login-g')
  const $logoutG = $('#logout-g')

  if ($loginG) {
    $loginG.onclick = () => signIn('google')
  }

  if ($logoutG) {
    $logoutG.onclick = () => signOut()
  }
</script>
