---
import LoggedUser from '@login/LoggedUser.astro'
import NotLoggedUser from '@login/NotLoggedUser.astro'

const userCookie = Astro.cookies.get('user')
const user = userCookie ? JSON.parse(decodeURIComponent(userCookie?.value)) : null
---

<section class='mx-auto my-12 max-w-lg'>
  {
    user !== null ? (
      <LoggedUser
        name={`${user?.firstName} ${user?.lastName}`}
        email={user?.email}
        imageUrl={user?.picture}
      />
    ) : (
      <NotLoggedUser />
    )
  }
</section>
