<section class="flex flex-col items-center justify-center gap-6 p-6 text-lg text-gray-800 dark:text-gray-50 rounded-lg shadow-lg dark:shadow-2xl">
  <h1 class="text-2xl">Iniciarás sesión con Google</h1>
  <article>
    <h3 class="text-xl">¿Qué información se compartirá?</h3>
    <p>Se compartirá tú nombre, foto y correo electrónico.</p>
    <hr class="my-3 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  </article>
  <article>
    <h3 class="text-xl">¿Qué usos se le dará a mí información?</h3>
    <p>El nombre se usará para saber con qué cuenta has iniciado sesión</p>
    <p>La foto se usará para mostrarte en la aplicación y estés seguro de la cuenta con la que has iniciado sesión</p>
    <p>El correo electrónico se usará para tener un identificador único en la aplicación, ya que los correos son irrepetibles, es justo lo que queremos, los datos que ingreses de entradas o salidas de dinero, se guardarán con el identificador de tu correo, así cada usuario podra ver sólo sus datos correspondientes.</p>
  </article>
  <button id="login-g" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ingresar</button>
</section>
