---
import Sidebar from '@components/Sidebar.astro'
import '@fontsource-variable/saira'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/piggy.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='bg-gray-50 dark:bg-gray-800'>
    <Sidebar />
    <slot />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      * {
        min-width: 0;
        font: inherit;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      img,
      video,
      svg {
        display: block;
        height: auto;
        max-width: 100%;
      }

      body {
        margin: 0;
        min-height: 100dvh;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-wrap: balance;
      }

      p {
        text-wrap: pretty;
      }

      html {
        scroll-behavior: smooth;
        font-family: 'Saira Variable', sans-serif, system-ui;
        font-display: swap;
        font-size: 16px;
        font-weight: 500;
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
    </style>

    <script src='https://unpkg.com/@github/relative-time-element@latest/dist/bundle.js'></script>
  </body>
</html>
