@let typeOf = type() === 'entries' ? 'Ingreso' : 'Egreso';

<form
  [formGroup]="form()"
  (submit)="onSubmit()"
  class="mx-auto mb-8 bg-gray-100 dark:bg-gray-800 mt-6 max-w-md rounded-md p-6 text-gray-900 border border-gray-800 dark:border-gray-100 dark:text-white"
>
  <h1 class="mb-6 text-center text-2xl uppercase">registro de {{ typeOf + 's' }}</h1>
  <div class="mb-5">
    <label for="date" class="mb-2 block text-sm font-medium"
      >Fecha del monto:</label
    >
    <input
      formControlName="date"
      type="date"
      id="date"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 shadow-sm dark:border-gray-600 dark:bg-gray-700"
    />
  </div>
  <div class="mb-5">
    <label for="currency-input" class="mb-2 block text-sm font-medium"
      >Monto del {{ typeOf }}:</label
    >
    <div class="flex">
      <div class="relative w-full">
        <div
          class="pointer-events-none absolute inset-y-0 start-0 top-0 flex items-center ps-3.5"
        >
          <svg
            class="size-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1M2 5h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
            ></path>
          </svg>
        </div>
        <input
          formControlName="amount"
          type="number"
          id="currency-input"
          class="z-20 block w-full rounded-s-lg border border-e-2 border-gray-300 border-e-gray-50 bg-gray-50 p-2.5 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:border-e-gray-700 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500"
          placeholder="3.99"
          required
          step="0.01"
        />
      </div>
      <div
        class="z-10 inline-flex flex-shrink-0 items-center rounded-e-lg border border-gray-300 bg-gray-100 px-4 py-2.5 text-center text-sm font-medium text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white"
      >
        <svg class="mr-1 size-5" viewBox="0 0 640 480">
          <path fill="#bd3d44" d="M0 0h640v480H0"></path>
          <path
            stroke="#fff"
            stroke-width="37"
            d="M0 55.3h640M0 129h640M0 203h640M0 277h640M0 351h640M0 425h640"
          ></path>
          <path fill="#192f5d" d="M0 0h364.8v258.5H0"></path>
          <marker id="us-a" markerHeight="30" markerWidth="30">
            <path fill="#fff" d="m14 0 9 27L0 10h28L5 27z"></path>
          </marker>
          <path
            fill="none"
            marker-mid="url(#us-a)"
            d="m0 0 16 11h61 61 61 61 60L47 37h61 61 60 61L16 63h61 61 61 61 60L47 89h61 61 60 61L16 115h61 61 61 61 60L47 141h61 61 60 61L16 166h61 61 61 61 60L47 192h61 61 60 61L16 218h61 61 61 61 60z"
          ></path>
        </svg>
        USD
      </div>
    </div>
  </div>
  @if (type() === 'exits') {
    <div class="flex items-center me-4 mb-5">
      <input formControlName="isCreditPayment" id="teal-checkbox" type="checkbox" value="" class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 rounded focus:ring-teal-500 dark:focus:ring-teal-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="teal-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">¿El egreso fue con tarjeta de crédito?</label>
    </div>
    @if (form().get('isCreditPayment')?.value) {
      <div class="mb-5 gap-3">
        <label for="card_select" class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-200">
          Selecciona una tarjeta:
        </label>
        @if (creditCardsStore.creditCards().length) {
          <select
            name="card_select"
            id="card_select"
            formControlName="creditCardId"
            class="block w-full p-2.5 border rounded-lg border-gray-300 bg-gray-50 text-gray-900 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600 focus:ring-indigo-500 focus:border-indigo-500"
          >
            <option value="0" selected disabled>Elige una tarjeta...</option>
            @for (card of creditCardsStore.creditCards(); track card.credit_card_id) {
              <option [value]="card.credit_card_id">{{ card.name }}</option>
            }
          </select>
        } @else {
          <p class="text-rose-500 dark:text-rose-400">No tienes tarjetas registradas. Agrega una antes de continuar.</p>
        }
      </div>
    }
    @if (am_credit()) {
      <app-alert-message
        [alertMessage]="'Selecciona una tarjeta de crédito'"
        [typeAlert]="'warning'"
      />
    }
  }
  <div class="mb-5">
    <label for="underline_select" class="sr-only">Underline select</label>
    <select
      formControlName="category"
      name="underline_select"
      id="underline_select"
      class="block w-full appearance-none border-0 border-b-2 border-gray-200 bg-transparent px-0 py-2.5 text-sm text-gray-500 focus:border-gray-200 focus:outline-none focus:ring-0 dark:border-gray-700 dark:text-gray-400"
    >
    @if (typeOf === 'Egreso') {
      <option value="" selected>Elige una categoría...</option>
      @for (categorie of categories.Egreso; track $index) {
        <option value="{{ categorie }}" selected>{{ categorie }}</option>
      }
    } @else {
      <option value="" selected>Elige una categoría...</option>
      @for (categorie of categories.Ingreso; track $index) {
        <option value="{{ categorie }}" selected>{{ categorie }}</option>
      }
    }
    </select>
  </div>
  <div class="mx-auto mb-5 max-w-sm">
    <label for="message" class="mb-2 block text-sm font-medium"
      >Descripción del {{ typeOf }}:</label
    >
    <textarea
      formControlName="description"
      name="message"
      id="message"
      rows="4"
      class="block w-full resize-none rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
      placeholder="Deja tu descripción..."
    ></textarea>
  </div>
  <app-submit-bttn [text]="'Registrar ' + typeOf " />
  @if (am_success()) {
    <app-alert-message
      [alertMessage]="typeOf + ' registrado 😁'"
      [typeAlert]="'success'"
    />
  }
  @if (am_category()) {
    <app-alert-message
      [alertMessage]="'Selecciona una categoría'"
      [typeAlert]="'warning'"
    />
  }
  @if (am_warning()) {
    <app-alert-message
      [alertMessage]="'Error al registrar el ' + typeOf + ' 😔'"
      [typeAlert]="'warning'"
    />
  }
</form>
