@let lastExits = lastExits$ | async;

<div class="relative m-auto mb-6 max-w-xl overflow-x-auto rounded-lg shadow-md">
  <table class="min-w-full text-left text-sm text-gray-500 dark:text-gray-400">
    <thead
      class="bg-gray-300 text-xs uppercase text-gray-700 dark:bg-gray-900 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-4 py-3">Monto</th>
        <th scope="col" class="px-4 py-3">Categoría</th>
        <th scope="col" class="px-4 py-3">Descripción</th>
        <th scope="col" class="px-4 py-3">Fecha</th>
      </tr>
    </thead>
    <tbody>
      @for (lastExit of lastExits; track lastExit.exit_id) {
        <tr
          class="bg-gray-100 dark:bg-gray-700 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            ${{ lastExit.amount }}
          </th>
          <td class="px-4 py-3">{{ lastExit.category }}</td>
          <td class="px-4 py-3">{{ lastExit.description }}</td>
          <td class="px-4 py-3">{{ lastExit.date | date: "shortDate" }}</td>
        </tr>
      } @empty {
        <tr class="bg-white dark:bg-gray-800">
          <td
            class="px-4 py-3 text-center font-medium text-gray-900 dark:text-white"
            colspan="4"
          >
            Sin registros
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
